#img-edit-div{
	height: 100%; 
	width: 69%; 
	left: 0%; 
	top: 0%; 
	float: left;
	background: none; 
	border-right: solid; 
	border-width: 1px
}

#img-browser-div{
	height: 100%; 
	width: 30%; 
	left: 60%; 
	top: 0%; 
	float: right; 
	background: none; 
	/*position: absolute;*/
}

.img-crop-true{
	border: solid;
}

.img-crop-false{
	border: none;
}

.thumb-img{
    z-index: 0;
    width:70px;
    height:70px;
    border-radius: 5px;
        
    padding: 3px;
    border-color: gray;
    box-shadow: 2px 2px 2px #000000;
}