#img-edit-div{
	height: 100%; 
	width: 79%; 
	left: 0%; 
	top: 0%; 
	float: left;
	background: none; 
	border-right: solid; 
	border-width: 1px
}

#img-browser-div{
	height: 100%; 
	width: 20%; 
	left: 60%; 
	top: 0%; 
	float: right; 
	background: none; 
	/*position: absolute;*/
}

.img-crop-true{
	border: solid;
}

.img-crop-false{
	border: none;
}