<div class="container-fluid">
	<div id="img-browser-toolbar-div" class="row">
		<div class="col-md-12">
			<button type="button" class="btn btn-sm">
				Add
			</button>
			<button id="img-browser-fetch-btn" type="button" 
			fetchType = "origin" class="btn btn-sm" fetchtimes = '0' fetcheverytime = '20'>
				Origin Img Fetch	
			</button>			
			<button id="fetch-processedimg-btn" type="button" fetchType = "processed" class="btn btn-sm" fetchtimes = '0' fetcheverytime = '20'>
				Processed Img Fetch	
			</button>
		</div>
	</div>
	<div id="img-browser-main-div" class="row" >
		<div class="col-md-12">
		</div>
	</div>
</div>