<!-- <div style="padding: 10px; border-style: dashed; border: gray; border-width: 2px"> -->
<!-- <img id="edit-img" src="{{static_url('img/test1.jpg')}}" style="width:100%"></img> -->

<button id="check-crop-btn" type="button" class="btn btn-sm">
	Cropped
</button>
<button id="delete-img-btn" type="button" class="btn btn-sm" fetchtimes = '0' fetcheverytime = '2'>
	Delete
</button>
<label><input id="show-contour-input" type="checkbox" value="">Show Contour</label>
<br>

<img id="edit-img" style="height:50%" imgName=""/>

<svg id="edit-cover-svg" style="visibility: hidden; position: absolute;" ></svg>

<svg id="pro-info-svg" style="visibility: hidden; position: absolute; background: rgba(33, 150, 243, 0.33)" ></svg>

<!-- style="position: absolute; top: 0%; left: 0%; width: 69%; height: 200%; background: rgba(128, 128, 128, 0.15); -->



<!-- </div> -->
